<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <group ns="ares">
    <node pkg="joy" type="joy_node" name="joystick" output="log">
      <param name="dev" type="string" value="/dev/input/aresjs"/>
    </node>
    <node pkg="ares_control" type="joystick_interface" name="joystick_interface" output="log"/>
  </group>
</launch>