<?xml version="1.0"?>
<launch>
  
  <!-- ROS Bag -->
  <node pkg="rosbag" type="record" name="rosbag_record" args="-a -o $(find ares_control)/bag/$(arg date)" output="screen" />

  <!-- Actual Nodes-->
  <group ns="ares">
    <rosparam command="load" file="$(find ares_control)/param/ares.yaml" />
    <node pkg="nodelet" type="nodelet" name="manager_"  args="manager" output="screen" />
    <node pkg="nodelet" type="nodelet" name="locomotion_controller" args="load ares_control/LocoControllerNodelet manager_" output="screen" />
    <node pkg="nodelet" type="nodelet" name="joystick_hw_interface" args="load ares_control/JoystickInterfaceNodelet manager_" output="screen" />
    <node pkg="joy" type="joy_node" name="joystick_resource" output="screen" />
    <!--<node pkg="nodelet" type="nodelet" name="path_controller" args="load ares_control/PathControllerNodelet manager_" output="screen" />-->
  </group>

</launch>
