<?xml version="1.0"?>
<launch>
    <group>
        <machine name="ares" address="ares" env-loader="/home/kaine/catkin_ws/devel/env.sh" user="kaine" default="true" ssh-port="22" />
        <include machine="ares" file="$(find ares_control)/launch/locomotion.launch"/>
    </group>
    <group>
        <machine name="local" address="localhost" default="true"/>
        <include machine="local" file="$(find ares_control)/launch/joy.launch"/>
    </group>
</launch>